@using SistemaOrbita.Model.ViewModels;
@model sbyte

@{
    ViewData["Title"] = "Set Date";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var title = "Set Date";
    string page = "setDate";
}

@section Styles {
    <link href='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/core/main.min.css' rel='stylesheet' />
    <link href='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/daygrid/main.min.css' rel='stylesheet' />
}

<section class="section">
    @{
        var pageTitle = new PageTitleViewModel
            {
                Title = "Set Date",
                Breadcrumbs = new List<BreadcrumbItem>
    {
    new BreadcrumbItem { Text = "Home", Area = "BusinessManagement", Controller = "Home", Action = "Index" },
    new BreadcrumbItem { Text = "Payroll list", Area = "Payroll", Controller = "Payroll", Action = "Index" },
    }
            };
    }
    <partial name="_PageTitle" model="@pageTitle" />

    <div class="row justify-content-center align-items-center">
        <div class="col-lg-10">

            <div class="card">
                <div class="card-body">
                    <h4 class="card-title mb-3">@title</h4>
                    <div class="row justify-content-center mb-3">
                        <div class="col-md-8">
                            <label>Define the date range for the Payroll</label>
                            <p class="mb-3">To select a date range, click and drag on the calendar.</p>
                            <div id="calendar-controls" class="mb-3">
                                <button id="clearCalendar" class="btn btn-warning">Limpiar Calendario</button>
                            </div>
                            <div id="calendar"></div>

                            <div id='calendar' class="text-center"></div>
                        </div>
                    </div>

                    <div class="text-center">
                        <partial name="~/Views/Shared/Payroll/_NextBackButtons.cshtml" model="page" />
                    </div>


                </div>
            </div>

        </div>
    </div>
</section>

@section Scripts {
    <script src='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/core/main.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/interaction/main.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/daygrid/main.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/core/locales/es.js'></script>
    <script>
        var type = @Model;
    </script>
    <script src="~/js/pages/Payroll/set-date.js"></script>
}