<!-- Modal -->
<div class="modal fade" id="detailsModal" tabindex="-1" aria-labelledby="detailsModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="detailsModal">Overtime details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <!-- Project Name and Description -->
                    <div class="row">
                        <div class="col">
                            <strong>Employee</strong>
                            <p id="employee"></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <strong>Position</strong>
                            <p id="position"></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <strong>Department</strong>
                            <p id="department"></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <strong>Start period</strong>
                            <p id="startPeriod"></p>
                        </div>
                        <div class="col">
                            <strong>End period</strong>
                            <p id="endPeriod"></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <strong>Day overtime</strong>
                            <p id="dayOvertime"></p>
                        </div>
                        <div class="col">
                            <strong>Night overtime</strong>
                            <p id="nightOvertime"></p>
                        </div>
                    </div>
                    <!-- Manager and Start Date -->
                    <div class="row">
                        <div class="col">
                            <strong>Created at</strong>
                            <p id="createdAt"></p>
                        </div>
                        <div class="col">
                            <strong>Created by</strong>
                            <p id="createdBy"></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>