<!-- Sidebar -->
<ul class="navbar-nav bg-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="#">
        <div class="sidebar-brand-icon">
            <img src="~/img/orbita/logo-orbita-icono.svg" width="50" />
        </div>
        <div class="sidebar-brand-text" style="font-size:20px">rbita</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a class="nav-link" asp-area="BusinessManagement" asp-controller="Home" asp-action="Index">
            <i class="bi bi-speedometer2 fs-4"></i>
            <span>Dashboard</span>
        </a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        CONFIGURATION
    </div>

    <!-- Nav Item - Management -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseManagement"
           aria-expanded="true" aria-controls="collapseUtilities">
            <i class="bi bi-wrench" aria-hidden="true"></i>
            <span>Management</span>
        </a>
        <div class="collapse" id="collapseManagement">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">EMPLOYEE CONFIGURATION:</h6>
                <a class="collapse-item" asp-area="BusinessManagement" asp-controller="OrganizationDepartment" asp-action="Index">Department</a>
                <a class="collapse-item" asp-area="BusinessManagement" asp-controller="Position" asp-action="Index">Position</a>
                <a class="collapse-item" asp-area="BusinessManagement" asp-controller="Employee" asp-action="Index">Employees</a>
                <h6 class="collapse-header">EVENTS:</h6>
                <a class="collapse-item" asp-area="BusinessManagement" asp-controller="EventType" asp-action="Index">Events</a>
            </div>
        </div>
    </li>
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseProjects"
           aria-expanded="true" aria-controls="collapseUtilities">
            <i class="bi bi-briefcase-fill" aria-hidden="true"></i>
            <span>Project</span>
        </a>
        <div class="collapse" id="collapseProjects">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">PROJECT CONFIGURATION:</h6>
                <a class="collapse-item" asp-area="BusinessManagement" asp-controller="Project" asp-action="Index">Project</a>
                <a class="collapse-item" asp-area="BusinessManagement" asp-controller="EPAssignment" asp-action="Index">Assignment</a>
            </div>
        </div>
    </li>

    <hr class="sidebar-divider d-none d-md-block">

    <div class="sidebar-heading">
        PAYROLL
    </div>

    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapsePayroll"
           aria-expanded="true" aria-controls="collapseUtilities">
            <i class="bi bi-cash-coin" aria-hidden="true"></i>
            <span>Payroll</span>
        </a>
        <div class="collapse" id="collapsePayroll">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">PAYROLL:</h6>
                <a class="collapse-item" asp-area="BusinessManagement" asp-controller="Home" asp-action="Error" asp-route-code="503">EventLog</a>
                <a class="collapse-item" asp-area="BusinessManagement" asp-controller="Home" asp-action="Error" asp-route-code="503">Payroll</a>
                <a class="collapse-item" asp-area="BusinessManagement" asp-controller="Home" asp-action="Error" asp-route-code="503">Voucher</a>

                <h6 class="collapse-header">OTHER OPTIONS:</h6>
                <a class="collapse-item" asp-area="BusinessManagement" asp-controller="Home" asp-action="Error" asp-route-code="503">Vacation</a>
                <a class="collapse-item" asp-area="BusinessManagement" asp-controller="Home" asp-action="Error" asp-route-code="503">Liquidations</a>
                <a class="collapse-item" asp-area="BusinessManagement" asp-controller="Home" asp-action="Error" asp-route-code="503">Payment history</a>
            </div>
        </div>
    </li>

    <hr class="sidebar-divider d-none d-md-block">

    <div class="sidebar-heading">
        REPORTS
    </div>

    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseReport"
           aria-expanded="true" aria-controls="collapseUtilities">
            <i class="bi bi-card-checklist" aria-hidden="true"></i>

            <span>Reports</span>
        </a>
        <div class="collapse" id="collapseReport">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">AUTHENTICATION:</h6>
                <a class="collapse-item" asp-area="BusinessManagement" asp-controller="Home" asp-action="Error" asp-route-code="503">Departments</a>
                <a class="collapse-item" asp-area="BusinessManagement" asp-controller="Home" asp-action="Error" asp-route-code="503">Deduction</a>
                <a class="collapse-item" asp-area="BusinessManagement" asp-controller="Home" asp-action="Error" asp-route-code="503">Worked hours</a>
                <a class="collapse-item" asp-area="BusinessManagement" asp-controller="Home" asp-action="Error" asp-route-code="503">ISR</a>
            </div>
        </div>
    </li>

    <hr class="sidebar-divider d-none d-md-block">

    <div class="sidebar-heading">
        SECURITY
    </div>

    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseSecurity"
           aria-expanded="true" aria-controls="collapseUtilities">
            <i class="bi bi-shield-shaded" aria-hidden="true"></i>
            <span>Security</span>
        </a>
        <div class="collapse" id="collapseSecurity">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">AUTHENTICATION:</h6>
                <a class="collapse-item" asp-area="Admin" asp-controller="Role" asp-action="Index">Roles</a>
                <a class="collapse-item" asp-area="Admin" asp-controller="User" asp-action="Index">User</a>
                <h6 class="collapse-header">AUDITING:</h6>
                <a class="collapse-item" asp-area="Admin" asp-controller="Audit" asp-action="Index">Audit log</a>
                <h6 class="collapse-header">CONFIGURATION:</h6>
                <a class="collapse-item" asp-area="Admin" asp-controller="Business" asp-action="Index">Business</a>
            </div>
        </div>
    </li>  

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>
</ul>
